html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 🔥 BACKGROUND */
body {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  background-attachment: fixed;
  background-size: cover;
}

#root {
  min-height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}